*{
    box-sizing: border-box;

}

caption{
    text-align: center;
    margin: 10px;
}

table{
    background-image:
    linear-gradient(to bottom,
    rgba(0, 0, 255, 0.51), white);
    border-collapse: collapse;
    border: 3px solid black;
    margin: auto;
    width: 70%;
    margin-top: 50px;
    caption-side: bottom;
}


th{
    background-color: black;
    color: white;
    padding: 10px;
    text-transform: uppercase;
}

td{
    text-align: center; 
    padding: 10px;
}