*{
    box-sizing: border-box;
    margin: 0px;
}

h1{
    text-align: center;
}
section{
    width: 70%;
    margin: auto;
    border: dashed;
    padding: 15px;
}

ol ol {
    list-style-type: lower-roman;
}

.listaordenada{
background-color: cornflowerblue;
}

.listadefinicion{
    background-color: darkgreen;
}
.listadesordenada{
    background-color: chocolate;
}


ul li{
    list-style-type: none;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: left center;
        background-position-x: -5px;
    padding: 0px 0px 0px 25px;
 }

.procesador{
    background-image: url(./imagenes/procesador.jpg);
}
.placabase{
    background-image: url(./imagenes/placa\ base.jfif);
}
.ventilador{
    background-image: url(./imagenes/ventilador.jfif);
}
.discoduro{
    background-image: url(./imagenes/disco\ duro.webp);
}
.memoria{
    background-image: url(./imagenes/memoria.jpg);
}
.grafica{
    background-image: url(./imagenes/grafica.jpg);
}
.conexiones{
    background-image: url(./imagenes/conexionesdelanteras.gif);
}
.torre{
    background-image: url(./imagenes/torre.webp);
}
.dimensiones{
    background-image: url(./imagenes/dimensiones.webp);
}