*{
    box-sizing: border-box;
    margin: 0px;
}

h1{
    text-align: center;
}
section{
    width: 70%;
    margin: auto;
    border: dashed;
    padding: 15px;
}

ol ol {
    list-style-type: lower-roman;
}

.listaordenada{
background-color: cornflowerblue;
}

.listadefinicion{
    background-color: darkgreen;
}
.listadesordenada{
    background-color: chocolate;
}

.principal{
    font-size: 70px;
    background-color: aqua;
}
body{
    background-image: url(./imagenes/android-icon-192x192.png);
}
.secundario{
    background-color: aquamarine;
    font-size: 50px;
}