*{
    margin: 0px;
    box-sizing:border-box;
}

body{
    background-color: bisque;
}
.menuv a{
    background-color: brown;
    color: white;
    text-decoration: none;
    float: left;
    width: 15%;
    text-align: center;
    padding: 20px;

}
.menuv a:hover{
    background-color: rgb(139, 66, 66);

}

.menuv a{
    float: none;
    display: block;
    width: 30%;
}
.menuv{
    width: 50%;
    float: left;
    position:fixed;
    bottom: opx;
    padding: 40px;
}
header{
    position:fixed;
    width: 50%;
    bottom: opx;
}
video{
    width: 100%;
    position: fixed;
}
div{
    position:fixed;
    width: 100%;
    bottom: opx;
    text-align: center;
    color: white;
    padding: 40px;
}
.futbol{
    width: 30%;
    grid-template-columns: auto auto;
    float:right;
}
footer{
    position:fixed;
    width: 50%;
    bottom: opx;
    float: right;
    padding: 100px;
}